@import "tailwindcss";

:root {
  --background: #f6f8f6; /* Color principal de fondo */
  --foreground: #ffffff; /* Color principal de fondo */
  --font-main: #000000; /* Color principal del texto */
  --font-secondary: #6b7280; /* Color secundario del texto */
  --button-main: #13ec5b; /* Color principal de los botones */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-font-main: var(--font-main);
  --color-font-secondary: var(--font-secondary);
  --color-button-main: var(--button-main);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
